# Install dependencies (cmd or PowerShell):
# cd "%USERPROFILE%\Dropbox\RAC_share\py_scripts"
# pip install -r requirements.txt
# If pip fails:
# python -m pip install -r requirements.txt
pytz
requests
python-dateutil
autocorrect
fpdf
PyPDF2
reportlab
flask
psutil
openpyxl
